<div class="add-form-container">
    <p class="form-title">Ajouter un article</p>

    {% if form.non_field_errors %}
    <ul class="errorlist">
        {% for error in form.non_field_errors %}
            <li><i class="fa fa-exclamation-circle"></i> {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form id="addForm"
          hx-post="{% url 'transfert_line_add' transfert.pk %}"
          hx-target="#linesTableContainer"
          hx-swap="innerHTML">
        {% csrf_token %}
        <div class="form-group {% if form.article.errors %}has-error{% endif %}">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-cube"></i></span>
                {{ form.article }}
            </div>
            {% for error in form.article.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group {% if form.qte.errors %}has-error{% endif %}">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                {{ form.qte }}
            </div>
            {% for error in form.qte.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-plus-circle"></i> Ajouter
        </button>
    </form>
</div>
