<div class="add-form-container">
    <h6 class="form-title">Ajouter un article</h6>
    <form id="addForm"
          hx-post="{% url 'transfert_line_add' transfert.pk %}"
          hx-target="#linesTableContainer"
          hx-swap="innerHTML"
          hx-on:htmx:after-request="if(event.detail.successful) { this.reset(); $(this).find('select').val(null).trigger('change'); }">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="add">
        <div id="addFormFields">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cube"></i></span>
                    {{ form.article }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                    {{ form.qte }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-plus-circle icon-space"></i> Ajouter
        </button>
    </form>
</div>