<div class="add-form-container">
    <h6 class="form-title">Modifier article</h6>
    <form id="updateForm"
          hx-post="{% url 'transfert_line_update' detail_transfert_pk %}"
          hx-target="#linesTableContainer"
          hx-swap="innerHTML"
          hx-on:htmx:after-request="if(event.detail.successful) { this.reset(); $(this).find('select').val(null).trigger('change'); }">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="update">
        <input type="hidden" name="detail_transfert_pk" value="{{ detail_transfert_pk  }}">
        <div id="addFormFields">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cube"></i></span>
                    {{ form.article_display }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                    {{ form.qte }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-plus-circle icon-space"></i> Modifier
        </button>
    </form>
</div>