DEBUG=False

SECRET_KEY=CHANGEZ-MOI-EN-CLEF-SECRETE-SECURISEE

DB_NAME=esm_prod
DB_USER=esm_user
DB_PASSWORD=MOT_DE_PASSE_FORT
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/1

ALLOWED_HOSTS=esm.conbuska.cd,api.conbuska.cd

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=notifications@conbuska.cd
EMAIL_HOST_PASSWORD=MOT_DE_PASSE_APP
DEFAULT_FROM_EMAIL=notifications@conbuska.cd

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=conbusca-web.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=conbusca-web
VITE_FIREBASE_STORAGE_BUCKET=conbusca-web.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.1

FIREBASE_CREDENTIALS=/etc/esm/firebase-adminsdk.json
FIREBASE_STORAGE_BUCKET=conbusca-web.appspot.com
FIREBASE_PROJECT_ID=conbusca-web

STATIC_ROOT=/var/www/esm/static
MEDIA_ROOT=/var/www/esm/media
LOG_FILE=/var/log/esm/django.log

SITE_URL=https://boutique.conbuska.cd
APP_NAME=Ets La Lumière
CURRENCY=CDF
