{% extends "base/base.html" %}
{% load static %}

{% block title %} Factures {% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5>Factures</h5>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Historique des factures<small></small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="content table-responsive display">
                                <div class="row">
                                    <button type="button" class="btn btn-link pull-right creer">
                                        <a href="{% url 'facture_create' %}">
                                            <i class="fa fa-plus"></i>
                                            NOUVELLE FACTURE
                                        </a>
                                    </button>
                                </div>
                                <table id="tableFactures" class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title"> Numero</th>
                                            <th class="column-title"> Date facture</th>
                                            <th class="column-title"> Client</th>
                                            <th class="column-title"> Articles</th>
                                            <th class="column-title"> Taux</th>
                                            <th class="column-title"> Devise</th>
                                            <th class="column-title"> Remise</th>
                                            <th class="column-title"> Montant </th>
                                            <th class="column-title"> Livreur </th>
                                            <th class="column-title"> Crée par </th>
                                            <th class="column-title"> Statut </th>
                                            <th class="column-title"> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for facture in liste_factures %}
										    <tr>
                                                <td>{{ facture.numero }}</td>
                                                <td>{{ facture.date_facture }}</td>

                                                <td>
                                                    {% if facture.facture_client %}
                                                        <span class="label label-danger">{{ facture.facture_client.client }}</span>
                                                    {% else %}
                                                        <span class="label label-info">{{ facture.client_comptoir|default:"-" }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{ facture.total_articles }} article(s)</td>
                                                <td>{{ facture.taux }}</td>
                                                <td>{{ facture.devise }}</td>
                                                <td>{{ facture.remise }}</td>
                                                <td>{{ facture.total }}FC</td>
                                                <td>{{ facture.livreur }}</td>
                                                <td>{{ facture.cree_par }}</td>
                                                <td>
                                                    {% if facture.valide %}
                                                        <span class="label label-success">
                                                            <i class="fa fa-check-circle"></i>
                                                            Validée
                                                        </span>
                                                    {% else %}
                                                        <span class="label label-warning">
                                                            <i class="fa fa-circle"></i>
                                                             Brouillon
                                                        </span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ facture.get_absolute_url }}" class="btn btn-primary btn-xs">
                                                        <i class="fa fa-eye"></i>
                                                        Détails
                                                    </a>
                                                    <button class="btn btn-xs btn-danger" id="btnAnnuler"
                                                            hx-get="{% url 'facture_delete' facture.pk %}"
                                                            hx-target="#modalContent"
                                                            hx-trigger="click"
                                                            hx-swap="innerHTML"
                                                    >
                                                        <i class="fa fa-times-circle"></i>
                                                        Supprimer
                                                    </button>
                                                </td>
										    </tr>
									    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Bootstrap -->
    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalContent">
          <!-- Le contenu HTMX (formulaire de confirmation) sera injecté ici -->
        </div>
      </div>
    </div>

<script>
    $(document).ready(function () {
        var t = $('#tableFactures').DataTable({
            dom: '<"top">rflt<"bottom"p><"clear">',
            paging: true,
            autoWidth: true,
            order: [],
            columnDefs: [

            ],
            language: {
                "sSearch": "Rechercher&nbsp;:",
                "sInfoEmpty": "Aucun r&eacute;sultat disponible",
                "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                "sLengthMenu":     "Afficher _MENU_ éléments",
                "sLoadingRecords": "Chargement...",
                "sProcessing": "Traitement...",
                "oPaginate": {
                    "sFirst":    "Premier",
                    "sLast":     "Dernier",
                    "sNext":     "Suivant",
                    "sPrevious": "Précédent"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        });

        document.body.addEventListener('htmx:afterSwap', function(evt) {
            const container = evt.target;

            if (container.id === "modalContent") {
                $('#mainModal').modal('show');
            }
        });
    });
</script>
{% endblock content %}