<div class="add-form-container">
    <h6 class="form-title">Ajouter une ligne d'approvisionnement</h6>
    <form id="addForm"
          hx-post="{% url 'approvisionnement_line_add' approvisionnement.pk %}"
          hx-target="#linesTableContainer"
          hx-swap="innerHTML"
          hx-on:htmx:after-request="if(event.detail.successful) { this.reset(); $(this).find('select').val(null).trigger('change'); }">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="add">
        <div id="addFormFields">
            {% include "approvisionnements/partials/form_fields.html" with form=add_form %}
        </div>
        <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-plus-circle icon-space"></i> Ajouter un article
        </button>
    </form>
</div>