<!-- Formulaire à gauche -->
<div class="col-md-4" id="formContainer">
    <div id="addFormContainer">
        {% include "approvisionnements/partials/add_form.html" %}
    </div>
    <div id="updateFormContainer"></div>
</div>

<!-- Tableau à droite -->
<div class="col-md-8">
    <div class="table-responsive" id="linesTableContainer">
        {% include "approvisionnements/partials/lines_table.html" %}
    </div>
    <div style="margin-top:12px;">
        <a href="{% url 'bon_appro_pdf' approvisionnement.pk %}" target="_blank"
           class="btn btn-danger btn-sm">
            <i class="fa fa-file-pdf-o"></i> Bon d'approvisionnement
        </a>
    </div>
</div>
