{% load caisse_tags %}
{% load currency_tags %}
<table id="tableApprovisionnement" class="table table-striped bulk_action">
    <thead>
        <tr>
            <th>N°</th>
            <th>Fnsseur</th>
            <th>Facture</th>
            <th>Article</th>
            <th>Qté</th>
            <th>Date p</th>
            <th>PAN</th>
            <th>FA</th>
            <th>PVD</th>
            <th>PVG</th>
            <th>Résultats</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in details_approvisionnement %}
            <tr id="row-{{ i.pk }}">
                <td>{{ forloop.counter }}</td>
                <td class="text-center">{{ i.fournisseur }}</td>
                <td class="text-center">{{ i.facture }}</td>
                <td class="text-center">{{ i.article.designation }}</td>
                <td class="text-center">{{ i.qte }}</td>
                <td class="text-center">{{ i.date_peremption }}</td>
                <td class="text-center">{% if i.prix_usd %}{% autoescape off %}{{ i.prix_usd|dual_amount }}{% endautoescape %}{% else %}{{ i.prix|floatformat }} {{ approvisionnement.devise }}{% endif %}</td>
                <td class="text-center">{% if i.frais_achat_usd %}{% autoescape off %}{{ i.frais_achat_usd|dual_amount }}{% endautoescape %}{% else %}{{ i.frais_achat|floatformat }} {{ approvisionnement.devise }}{% endif %}</td>
                <td class="text-center">{% if i.prix_vente_usd %}{% autoescape off %}{{ i.prix_vente_usd|dual_amount }}{% endautoescape %}{% else %}{{ i.prix_vente|floatformat }} {{ approvisionnement.devise }}{% endif %}</td>
                <td class="text-center">{% if i.prix_vente_gros_usd %}{% autoescape off %}{{ i.prix_vente_gros_usd|dual_amount }}{% endautoescape %}{% else %}{{ i.prix_vente_gros|floatformat }} {{ approvisionnement.devise }}{% endif %}</td>
                <td class="text-center">{% if i.resultat_usd %}{% autoescape off %}{{ i.resultat_usd|dual_amount }}{% endautoescape %}{% else %}{{ i.resultat|floatformat }} {{ approvisionnement.devise }}{% endif %}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button
                                class="btn btn-default btn-sm"
                                hx-get="{% url 'get_form_update' i.pk %}"
                                hx-target="#updateFormContainer"
                                hx-swap="innerHTML"
                                hx-trigger="click"
                                hx-on:click="document.getElementById('addFormContainer').style.display = 'none';">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button
                            class="btn btn-danger btn-sm"
                            hx-get="{% url 'delete_article_approvisionnement' approvisionnement.pk i.pk %}"
                            hx-target="#modalContent"
                            hx-trigger="click"
                            hx-swap="innerHTML">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="12" class="text-center text-muted">Aucune ligne d’approvisionnement enregistrée.</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="total-row">
            <td colspan="6" class="text-right"><strong>Total:</strong></td>
            <td><strong>{% if approvisionnement.total_approvisionnement_usd %}{% autoescape off %}{{ approvisionnement.total_approvisionnement_usd|dual_amount }}{% endautoescape %}{% else %}{{approvisionnement.total_approvisionnement }} {{ approvisionnement.devise }}{% endif %}</strong></td>
            <td><strong>{% if approvisionnement.frais_achat_total_usd %}{% autoescape off %}{{ approvisionnement.frais_achat_total_usd|dual_amount }}{% endautoescape %}{% else %}{{approvisionnement.frais_achat_total }} {{ approvisionnement.devise }}{% endif %}</strong></td>
            <td><strong>{% if approvisionnement.chiffre_affaires_usd %}{% autoescape off %}{{ approvisionnement.chiffre_affaires_usd|dual_amount }}{% endautoescape %}{% else %}{{approvisionnement.chiffre_affaires }} {{ approvisionnement.devise }}{% endif %}</strong></td>
            <td><strong>-</strong></td>
            <td><strong>{% if approvisionnement.resultat_total_usd %}{% autoescape off %}{{ approvisionnement.resultat_total_usd|dual_amount }}{% endautoescape %}{% else %}{{approvisionnement.resultat_total }} {{ approvisionnement.devise }}{% endif %}</strong></td>
            <td></td>
        </tr>
    </tfoot>
</table>