<div class="add-form-container">
    <h6 class="form-title">Modifier une ligne d'approvisionnement</h6>
    <form id="updateForm"
          method="POST"
          hx-post="{% url 'approvisionnement_details' appro_pk %}"
          hx-target="#formTableContainer"
          hx-swap="innerHTML"
          hx-on="htmx:afterRequest: resetForms()">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="update">
        <input type="hidden" name="id" value="{{ detail_appro_pk  }}">
        <div id="updateFormFields">
            {% include "approvisionnements/partials/form_fields.html" with form=update_form %}
        </div>
        <button type="submit" class="btn btn-success btn-block">
            <i class="fa fa-plus-circle icon-space"></i>Mettre à jour
        </button>
        <button type="button" class="btn btn-secondary btn-block"
                onclick="document.getElementById('updateFormContainer').innerHTML = ''; document.getElementById('addFormContainer').style.display = 'block';">
            <i class="fa fa-times icon-space"></i> Annuler
        </button>
    </form>
</div>