{% extends "base/base.html" %}
{% load static %}

{% block title %} Creanciers {% endblock title %}
{% block stylesheets %}
{{block.super}}
<style>
    .img_container {
        width: 20px;
        height: 12px;
    }

    /* Resize images */
    .img_container img {
        width: 100%;
        height: auto;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5>Creanciers</h5>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Liste des créanciers<small></small></h2>
                            <button type="button" class="btn btn-link pull-right creer">
                                <a href="{% url 'creancier_create' %}">
                                    <i class="fa fa-plus"></i>
                                    NOUVEAU CREANCIER
                                </a>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% for creancier in liste_creanciers %}
                                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                    <div class="well profile_view">
                                        <div class="col-sm-12">
                                            <h4 class="brief"><i>Créancier</i></h4>
                                            <div class="left col-xs-7">
                                                <h2>{{ creancier.nom }}</h2>
                                                <p><strong>Code: </strong> #{{ creancier.code }} </p>
                                                <ul class="list-unstyled">
                                                  <li><i class="fa fa-map-marker"></i> Addresse: {{ creancier.adresse }}</li>
                                                  <li><i class="fa fa-phone"></i> Telephone #: {{ creancier.telephone }}</li>
                                                  <li><i class="fa fa-envelope"></i> Email: {{ creancier.email }}</li>
                                                </ul>
                                            </div>
                                            <div class="right col-xs-5 text-center">
                                                <img src="{{ creancier.photo.url }}" alt="..." class="img-circle img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 bottom text-center">
                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <h4 class="ratings"><i class="fa fa-usd"></i> {{ creancier.solde }}FC</h4>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <a  href="{% url 'creancier_details' creancier.pk %}" class="btn btn-primary btn-xs">
                                                  <i class="fa fa-user"> </i> Voir les détails
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <!--<div class="content table-responsive display">
                                <div class="row">
                                    <button type="button" class="btn btn-link pull-right creer">
                                        <a href="{% url 'creancier_create' %}">
                                            <i class="fa fa-plus"></i>
                                            NOUVEAU CREANCIER
                                        </a>
                                    </button>
                                </div>
                                <table id="tableClients" class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title"> Code</th>
                                            <th class="column-title"> Photo</th>
                                            <th class="column-title"> Nom</th>
                                            <th class="column-title"> Email</th>
                                            <th class="column-title"> Telephone </th>
                                            <th class="column-title"> Adresse</th>
                                            <th class="column-title"> Ville</th>
                                            <th class="column-title"> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for creancier in liste_creanciers %}
										    <tr>
                                                <td>{{ creancier.code }}</td>
                                                <td class="img_container">
                                                    <img src="{{ creancier.photo.url }}" alt="..." class="">
                                                </td>
                                                <td>{{ creancier.nom }}</td>
                                                <td>{{ creancier.email }}</td>
                                                <td>{{ creancier.telephone }}</td>
                                                <td>{{ client.adresse }}</td>
                                                <td>{{ creancier.ville }}</td>
                                                <td>
                                                    <a href="{{ creancier.get_absolute_url }}" class="btn btn-warning btn-xs">
                                                        <i class="fa fa-eye"></i>
                                                        Details
                                                    </a>
                                                    <a href="{% url 'creancier_update' creancier.pk %}" class="btn btn-info btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                        Modifier
                                                    </a>
                                                    <a href="{% url 'creancier_delete' creancier.pk %}" class="btn btn-danger btn-xs">
                                                        <i class="fa fa-trash-alt"></i>
                                                        Supprimer
                                                    </a>
                                                </td>
										    </tr>
									    {% endfor %}
                                    </tbody>
                                </table>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#creanciers').addClass('active');
         });
    </script>
{% endblock content %}