{% extends "base/base.html" %}
{% load static %}

{% block title %} Paie/Details {% endblock title %}
{% block stylesheets %}
{{block.super}}
<style>
    .img_container {
        width: 20px;
        height: 12px;
    }

    /* Resize images */
    .img_container img {
        width: 100%;
        height: auto;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5>
                        <a href="{% url 'agents' %}"> Agents </a> / <a href="{% url 'agent_details' agent.pk %}"> Détails agent </a> / Détails paie #{{ paie.mois }}
                    </h5>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Détails de la paie de #{{ paie.mois }} pour l'agent #{{ agent }}<small></small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="content table-responsive display">
                                <table id="tablePaie" class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title"> N°</th>
                                            <th class="column-title"> Libéllé</th>
                                            <th class="column-title"> Motant perçu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in details_paie_agent %}
										    <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ item.libelle }}</td>
                                                <td>{{ item.montant }}FC</td>
										    </tr>
									    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr class="bg-warning">
                                            <td colspan="2" class="text-right"><strong>Total rémunération perçue:</strong></td>
                                            <td class=""><strong>{{ total_remuneration }} FC</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#paies').addClass('active');
         });
    </script>
{% endblock content %}