{% extends "base/base.html" %}
{% load static %}

{% block title %} Paie|Creation {% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="page-title">
                    <div class="title_left">
                        <div class="title_left">
                            <h5>
                                  <a href="{% url 'listes_paie' %}"> Listes de paie </a> / Nouvelle paie
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h4>Formulaire de selection d'une période de paie</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" enctype="multipart/form-data" action='' method="POST" novalidate>
                                {% csrf_token %}
                                {% for field in form.visible_fields  %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            {{ field.label }}
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ field }}
                                        </div>
                                        <span style="color: red;">{{ field.errors }}</span>
                                    </div>
                                {% endfor %}
                                <div class="ln_solid"></div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input type="submit" class="btn btn-info valider" value="Générer la paie">
                                    <a href="{% url 'listes_paie' %}">
                                        <button class="btn btn-danger" type="button">
                                            Annuler
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            {% for message in messages %}
                new PNotify({
                    title: 'Notification',
                    text: "{{ message|escapejs }}",
                    type: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}",
                    styling: 'bootstrap3',
                    //addclass: 'dark',
                    icon: true,
                });
            {% endfor %}
        });

        $(document).ready(function() {
            $('#id_mois').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });

            $('#listes_paie').addClass('current-page');
            $('#paie').addClass('active');
            let parent = document.getElementById('paie');
            parent.childNodes[2].style.display = 'block';
         });
    </script>

{% endblock content %}