{% extends "base/base.html" %}
{% load static %}

{% block title %} Parametres|Magasins {% endblock title %}
{% block stylesheets %}
{{block.super}}
<style>

</style>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5>Magasins</h5>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Liste des magasins<small></small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="content table-responsive display">
                                <div class="row">
                                    <button type="button" class="btn btn-link pull-right creer">
                                        <a href="{% url 'magasin_create' %}">
                                            <i class="fa fa-plus"></i>
                                            NOUVEAU MAGASIN
                                        </a>
                                    </button>
                                </div>
                                <table id="tableMagasins" class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title"> Nom</th>
                                            <th class="column-title"> Description</th>
                                            <th class="column-title"> Localisation</th>
                                            <th class="column-title"> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for magasin in liste_magasins %}
										    <tr>
                                                <td>{{ magasin.nom }}</td>
                                                <td>{{ magasin.description }}</td>
                                                <td>{{ magasin.localisation }}</td>
                                                <td>
                                                    <a href="{% url 'magasin_update' magasin.pk %}" class="btn btn-info btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                        Modifier
                                                    </a>
                                                </td>
										    </tr>
									    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}