{% load caisse_tags %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-lock"></i> Clôturer la caisse</h4>
</div>
<div class="modal-body">
    <div class="alert alert-warning">
        <i class="fa fa-warning"></i> {{ message }}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p><strong>Solde final:</strong></p>
            <h3 class="text-success">{% if solde_final_usd %}{% autoescape off %}{{ solde_final_usd|dual_amount }}{% endautoescape %}{% else %}{{ solde_final }} FC{% endif %}</h3>
        </div>
        <div class="col-sm-6">
            <p><strong>Date de clôture:</strong></p>
            <h4>{% now "d/m/Y H:i:s" %}</h4>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
    <button type="button"
            class="btn btn-warning"
            hx-post="{% url 'cloture_caisse' caisse_courante.pk %}"
            hx-swap="none"
    >
        <i class="fa fa-lock"></i> Confirmer la clôture
    </button>
</div>