<div class="add-form-container">
    <h3 class="form-title">Ajouter une opération de caisse</h3>
    <hr/>
    <form id="addForm"
          class="form-horizontal form-label-left"
          method="POST"
          hx-post="{% url 'caisse_details' caisse_courante.pk %}"
          hx-target="#formTableContainer"
          hx-swap="innerHTML">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="add">
        <div id="addFormFields">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ add_form.type_mouvement.label }}
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    {{ add_form.type_mouvement }}
                </div>
                <span style="color: red;">{{ add_form.type_mouvement.errors }}</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ add_form.rubrique.label }}
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    {{ add_form.rubrique }}
                </div>
                <span style="color: red;">{{ add_form.rubrique.errors }}</span>
            </div>
            <div class="form-group" id="rubrique-dependent-fields">
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ add_form.montant.label }}
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    {{ add_form.montant }}
                </div>
                <span style="color: red;">{{ add_form.montant.errors }}</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    {{ add_form.motif.label }}
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    {{ add_form.motif }}
                </div>
                <span style="color: red;">{{ add_form.motif.errors }}</span>
            </div>

        </div>
        <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-plus-circle icon-space"></i> Ajouter
        </button>
    </form>
</div>