<div class="x_panel add-form-container">
    <div class="x_title">
        <h2><i class="fa fa-edit"></i> Modifier une opération de caisse </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="updateForm"
              class="form-horizontal form-label-left"
              method="POST"
              hx-post="{% url 'caisse_details' caisse_pk %}"
              hx-target="#formTableContainer"
              hx-swap="innerHTML"
              hx-on="htmx:afterRequest: resetForms()"
        >
            {% csrf_token %}
            <input type="hidden" name="form_type" value="update">
            <input type="hidden" name="id" value="{{ mouvement_pk  }}">
            <div id="updateFormFields">
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">{{ update_form.type_mouvement.label }}:</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ update_form.type_mouvement }}
                    </div>
                    <span style="color: red;">{{ update_form.type_mouvement.errors }}</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">
                        {{ update_form.rubrique.label }}:
                    </label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ update_form.rubrique }}
                    </div>
                    <span style="color: red;">{{ update_form.rubrique.errors }}</span>
                </div>
                <div class="form-group rubrique-dependent-fields"></div>
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">
                        {{ update_form.montant.label }}:
                    </label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ update_form.montant }}
                    </div>
                    <span style="color: red;">{{ update_form.montant.errors }}</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">
                        {{ update_form.motif.label }}:
                    </label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ update_form.motif }}
                    </div>
                    <span style="color: red;">{{ update_form.motif.errors }}</span>
                </div>
            </div>
            <div class="ln_solid"></div>
            <button type="submit" class="btn btn-success btn-block">
                <i class="fa fa-plus-circle icon-space"></i> Mettre à jour
            </button>
            <button type="button" class="btn btn-secondary btn-block"
                onclick="document.getElementById('updateFormContainer').innerHTML = ''; document.getElementById('addFormContainer').style.display = 'block';">
                <i class="fa fa-times icon-space"></i> Annuler
            </button>
        </form>
    </div>
</div>
