{% extends "base/base.html" %}
{% load static %}

{% block title %} User|Create {% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h2>Creation utilisateur</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h4>Formulaire de création d'un utilisateur</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" enctype="multipart/form-data" action='' method="POST" novalidate>
                                {% csrf_token %}
                                {% for field in form.visible_fields  %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            {{ field.label }}
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ field }}
                                            <span style="color: red;">{{ field.errors }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="ln_solid"></div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input type="submit" class="btn btn-info valider" value="Valider">
                                    <a href="{% url 'users' %}">
                                        <button class="btn btn-danger" type="button">
                                            Annuler
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {

            let specialite = document.getElementById("id_specialite");
            let consultant = document.getElementById("id_consultant");
            let flat_green = document.querySelector("icheckbox_flat-green");

            specialite.setAttribute("disabled", "disabled");
            consultant.disabled = true;

            $('#id_type_profile').change(function(){

                specialite.setAttribute("disabled", "disabled");
                consultant.disabled = true;

                if($(this).val() == 2){
                    console.log($(this).val());
                    specialite.removeAttribute("disabled");
                    consultant.disabled = false;
                    $('#id_consultant').iCheck('update');
                }
             });
         });
    </script>

{% endblock content %}