{% extends "base/base.html" %}
{% load static %}

{% block title %} User|Update {% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5>Modification du profile</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h4>Modifier les details de l'utilisateur courant</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" enctype="multipart/form-data" action='' method="POST" novalidate>
                                {% csrf_token %}
                                {% for field in form.visible_fields  %}
                                    {% if field.label == 'Photo' %}
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                {{ field.label }}
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {% if user.photo %}
                                                    <img src="{{ user.photo.url }}" alt="{{ user.username }}" height="100">
                                                {% endif %}
                                                {{ field }}
                                                {% for error in field.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                {{ field.label }}
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ field }}
                                                {% for error in field.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="ln_solid"></div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input type="submit" class="btn btn-info valider" value="Valider">
                                    <a href="{% url 'user_profile' %}">
                                        <button class="btn btn-danger" type="button">
                                            Annuler
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}