{% extends "base/base.html" %}
{% load static %}

{% block title %} Détails Client {% endblock title %}
{% block stylesheets %}
{{block.super}}
<style>
    .total-row {
      background-color: #f9fafb;
    }

    .total-row td {
      border-top: 2px solid #e5e7eb;
      font-size: 14px;
    }

    .supplier-details h4 {
        font-size: 20px;
        font-weight: 600;
        color: #2A3F54;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .supplier-details .info-item {
        margin-bottom: 10px;
        color: #73879C;
        font-size: 14px;
    }

    .supplier-details .info-item i {
        width: 20px;
        color: #1ABB9C;
    }

    .balance-box {
        background: linear-gradient(135deg, #1ABB9C 0%, #159A80 100%);
        color: #fff;
        padding: 20px;
        border-radius: 5px;
        margin: 20px 0;
        text-align: center;
    }

    .balance-box h3 {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 400;
        opacity: 0.9;
    }

    .balance-box .amount {
        font-size: 32px;
        font-weight: 700;
        margin: 0;
    }

    .balance-box.negative {
        background: linear-gradient(135deg, #E74C3C 0%, #C0392B 100%);
    }
</style>
{% endblock stylesheets %}


{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5><a href="{% url 'clients' %}">Clients</a> / Détails Client </h5>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                     <div class="x_panel">
                         <div class="x_content">
                             <div class="row supplier-details">
                                 <div class="profile_img text-center">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-circle" src="{{ client.photo.url }}"
                                             alt="Avatar" title="Change the avatar" width="240">
                                    </div>
                                 </div>
                                 <h4><strong>{{ client.nom }} / {{ client.code }}</strong></h4>
                                 <hr>
                                 <ul class="list-unstyled user_data">
                                    <li class="info-item"><i class="fa fa-map-marker"></i> Addresse: {{ client.adresse }}</li>
                                    <li class="info-item"><i class="fa fa-phone"></i> Telephone: {{ client.telephone }}</li>
                                    <li class="info-item"><i class="fa fa-envelope"></i> Email: {{ client.email }}</li>
                                 </ul>
                                 <hr>
                                 <!-- Balance Box -->
                                 <div class="balance-box">
                                    <h3>Solde Client</h3>
                                    <p class="amount">{{ client.solde|floatformat:'2' }} FC</p>
                                 </div>

                                 <!-- Edit Button -->
                                 <a href="{% url 'client_update' client.pk %}" class="btn btn-primary btn-block btn-lg">
                                     <i class="fa fa-edit"></i>
                                     Modifier
                                 </a>
                             </div>
                         </div>
                     </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="x_panel">
                                <div class="table-header">
                                    <i class="fa fa-file-text-o"></i> Flux des factures
                                </div>
                                <div class="x_content" style="padding: 0;">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Date</th>
                                                    <th>Facture</th>
                                                    <th>Total</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in factures %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ i.facture.date_facture }}</td>
                                                        <td>{{ i.facture.numero }}</td>
                                                        <td>{{ i.facture.total|floatformat }}FC</td>
                                                        <td>
                                                            <a href="" class="btn btn-warning btn-xs">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr class="total_row">
                                                    <td colspan="4" class="text-right"><strong>Total:</strong></td>
                                                    <td><strong>{{ total_factures|floatformat }}FC</strong></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="x_panel">
                                <div class="table-header">
                                    <i class="fa fa-money"></i> Flux de Paiements
                                </div>
                                <div class="x_content" style="padding: 0;">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Date</th>
                                                    <th>Montant Payé</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in paiements %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ i.mouvement_caisse.date_mouvement }}</td>
                                                        <td>{{ i.mouvement_caisse.montant }}FC</td>

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr class="total_row">
                                                    <td colspan="2" class="text-right"><strong>Total:</strong></td>
                                                    <td><strong>{{ total_paiements|floatformat }}FC</strong></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#clients').addClass('active');
         });
    </script>
{% endblock content %}