{% extends "base/base.html" %}
{% load static %}

{% block title %} Clients {% endblock title %}
{% block stylesheets %}
{{block.super}}
<style>
    .info-box {
        display: flex;
        background: #f7f7f7;
        border-radius: 8px;
        padding: 10px;
        border: 1px solid #e0e0e0;
    }

    .info-box-icon {
        width: 60px;
        height: 60px;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 28px;
        border-radius: 8px;
    }

    .info-box-content {
        margin-left: 10px;
    }

    .info-box-number {
        font-size: 22px;
        font-weight: bold;
    }

    .uniform-img {
        width: 150px;      /* largeur fixe */
        height: 150px;     /* hauteur fixe */
        object-fit: cover; /* pour que l'image remplisse le cadre sans déformer */
    }

    .profile_details:nth-child(3n) {
        clear: none !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5>Clients</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Liste des clients<small></small></h2>
                            <button type="button" class="btn btn-link pull-right creer">
                                <a href="{% url 'client_create' %}">
                                    <i class="fa fa-plus"></i>
                                    NOUVEAU CLIENT
                                </a>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-8 col-sm-4 col-xs-12">
                                    <form class="form-horizontal" action="" method="get">
                                        {% for field in filter.form %}
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">
                                                    {{ field.label }}
                                                </label>
                                                <div class="col-md-6">
                                                    {{ field }}
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <!-- Bouton aligné avec les champs -->
                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-md-6">
                                                <button type="submit" class="btn btn-info">
                                                    Valider
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4 col-sm-5 col-xs-12 pull-right">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">TOTAL SOLDES CLIENTS:</span><br>
                                            <span class="info-box-number">{{ total_solde|floatformat:0 }} FC</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                {% for client in liste_clients %}
                                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                        <div class="well profile_view">
                                            <div class="col-sm-12">
                                                <h4 class="brief"><i>Client</i></h4>
                                                <div class="left col-xs-7">
                                                    <h2>{{ client.nom }}</h2>
                                                    <p><strong>Code: </strong> #{{ client.code }} </p>
                                                    <ul class="list-unstyled">
                                                      <li><i class="fa fa-map-marker"></i> Addresse: {{ client.adresse }}</li>
                                                      <li><i class="fa fa-phone"></i> Telephone #: {{ client.telephone }}</li>
                                                      <li><i class="fa fa-envelope"></i> Email: {{ client.email }}</li>
                                                    </ul>
                                                </div>
                                                <div class="right col-xs-5 text-center">
                                                    <img src="{{ client.photo.url }}" alt="..." class="img-circle img-responsive uniform-img">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 bottom text-center">
                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                    <h4 class="ratings">
                                                        {% if client.solde < 0 %}
                                                            <span style="color: red;">{{ client.solde }}</span>FC
                                                        {% else %}
                                                            <span style="color: green;">{{ client.solde }}</span>FC
                                                        {% endif %}
                                                    </h4>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                    <a  href="{% url 'client_details' client.pk %}" class="btn btn-primary btn-xs">
                                                      <i class="fa fa-user"> </i> Voir le profil
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <!--<div class="content table-responsive display">
                                <div class="row">
                                    <button type="button" class="btn btn-link pull-right creer">
                                        <a href="{% url 'client_create' %}">
                                            <i class="fa fa-plus"></i>
                                            NOUVEAU CLIENT
                                        </a>
                                    </button>
                                </div>
                                <table id="tableClients" class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title"> Code</th>
                                            <th class="column-title"> Photo</th>
                                            <th class="column-title"> Nom</th>
                                            <th class="column-title"> Email</th>
                                            <th class="column-title"> Telephone </th>
                                            <th class="column-title"> Adresse</th>
                                            <th class="column-title"> Ville</th>
                                            <th class="column-title"> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for client in liste_clients %}
										    <tr>
                                                <td>{{ client.code }}</td>
                                                <td class="img_container">
                                                    <img src="{{ client.photo.url }}" alt="..." class="">
                                                </td>
                                                <td>{{ client.nom }}</td>
                                                <td>{{ client.email }}</td>
                                                <td>{{ client.telephone }}</td>
                                                <td>{{ client.adresse }}</td>
                                                <td>{{ client.ville }}</td>
                                                <td>
                                                    <a href="{{ client.get_absolute_url }}" class="btn btn-warning btn-xs">
                                                        <i class="fa fa-eye"></i>
                                                        Details
                                                    </a>
                                                    <a href="{% url 'client_update' client.pk %}" class="btn btn-info btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                        Modifier
                                                    </a>
                                                    <a href="{% url 'client_delete' client.pk %}" class="btn btn-danger btn-xs">
                                                        <i class="fa fa-trash-alt"></i>
                                                        Supprimer
                                                    </a>
                                                </td>
										    </tr>
									    {% endfor %}
                                    </tbody>
                                </table>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#clients').addClass('active');
         });
    </script>
{% endblock content %}