{% extends "base/base.html" %}
{% load static %}
{% load currency_tags %}

{% block title %} Arrivage|Create {% endblock title %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5>Arrivages /{{ title }}</h5>
                </div>
            </div>
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4>{{ title_form }}</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left" enctype="multipart/form-data" action='' method="POST" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form.magasin.label }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.magasin }}
                                    {% for error in form.magasin.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form.devise.label }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.devise }}
                                    {% for error in form.devise.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form.taux.label }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.taux }}
                                    {% for error in form.taux.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form.declaration.label }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.declaration }}
                                    {% for error in form.declaration.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form.transport.label }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.transport }}
                                    {% for error in form.transport.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form.tva.label }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.tva }}
                                    {% for error in form.tva.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form.manutention.label }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.manutention }}
                                    {% for error in form.manutention.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form.autre_frais.label }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.autre_frais }}
                                    {% for error in form.autre_frais.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <input type="submit" class="btn btn-info valider" value="Valider">
                                <a href="{{ cancel_url }}">
                                    <button class="btn btn-danger" type="button">
                                        Annuler
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#approvisionnements').addClass('active');
         });
    </script>

{% endblock content %}