{% extends "base/base.html" %}
{% load static %}

{% block title %} Fournisseurs {% endblock title %}
{% block stylesheets %}
{{block.super}}
<style>
    .info-box {
        display: flex;
        background: #f7f7f7;
        border-radius: 8px;
        padding: 10px;
        border: 1px solid #e0e0e0;
    }

    .info-box-icon {
        width: 60px;
        height: 60px;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 28px;
        border-radius: 8px;
    }

    .info-box-content {
        margin-left: 10px;
    }

    .info-box-number {
        font-size: 22px;
        font-weight: bold;
    }

    .uniform-img {
        width: 150px;      /* largeur fixe */
        height: 150px;     /* hauteur fixe */
        object-fit: cover; /* pour que l'image remplisse le cadre sans déformer */
    }

    .profile_details:nth-child(3n) {
        clear: none !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h5>Fournisseurs</h5>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Liste des fournisseurs<small></small></h2>
                            <button type="button" class="btn btn-link pull-right creer">
                                <a href="{% url 'fournisseur_create' %}">
                                    <i class="fa fa-plus"></i>
                                    NOUVEAU FOURNISSEUR
                                </a>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-8 col-sm-4 col-xs-12">
                                    <form class="form-horizontal" action="" method="get">
                                        {% for field in filter.form %}
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">
                                                    {{ field.label }}
                                                </label>
                                                <div class="col-md-6">
                                                    {{ field }}
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <!-- Bouton aligné avec les champs -->
                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-md-6">
                                                <button type="submit" class="btn btn-info">
                                                    Valider
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">TOTAL SOLDES FOURNISSEURS:</span><br>
                                            <span class="info-box-number">{{ total_solde|floatformat:0 }} FC</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                            {% for fournisseur in liste_fournisseurs %}
                                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                    <div class="well profile_view">
                                        <div class="col-sm-12">
                                            <h4 class="brief"><i>Fournisseur</i></h4>
                                            <div class="left col-xs-7">
                                                <h2>{{ fournisseur.nom }}</h2>
                                                <p><strong>Tuteur: </strong> {{ fournisseur.tuteur }} </p>
                                                <ul class="list-unstyled">
                                                  <li><i class="fa fa-map-marker"></i> Addresse: {{ fournisseur.adresse }}</li>
                                                  <li><i class="fa fa-phone"></i> Telephone #: {{ fournisseur.telephone }}</li>
                                                  <li><i class="fa fa-envelope"></i> Email: {{ fournisseur.email }}</li>
                                                </ul>
                                            </div>
                                            <div class="right col-xs-5 text-center">
                                                <img src="{{ fournisseur.photo.url }}" alt="..." class="img-circle img-responsive uniform-img">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 bottom text-center">
                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <h4 class="ratings"><i class="fa fa-usd"></i> {{ fournisseur.solde }}FC</h4>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 emphasis">
                                                <a  href="{% url 'fournisseur_details' fournisseur.pk %}" class="btn btn-primary btn-xs">
                                                  <i class="fa fa-user"> </i> Voir le profil
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                                </div>

                            <!--<div class="content table-responsive display">
                                <div class="row">
                                    <button type="button" class="btn btn-link pull-right creer">
                                        <a href="{% url 'fournisseur_create' %}">
                                            <i class="fa fa-plus"></i>
                                            NOUVEAU FOURNISSEUR
                                        </a>
                                    </button>
                                </div>
                                <table id="Fournisseurs" class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title"> Code</th>
                                            <th class="column-title"> Photo</th>
                                            <th class="column-title"> Nom</th>
                                            <th class="column-title"> Tuteur</th>
                                            <th class="column-title"> Email</th>
                                            <th class="column-title"> Telephone </th>
                                            <th class="column-title"> Adresse</th>
                                            <th class="column-title"> Ville</th>
                                            <th class="column-title"> Pays</th>
                                            <th class="column-title"> RCCM</th>
                                            <th class="column-title"> ID.NAT</th>
                                            <th class="column-title"> IMPOT</th>
                                            <th class="column-title"> TVA</th>
                                            <th class="column-title"> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fournisseur in liste_fournisseurs %}
										    <tr>
                                                <td>{{ fournisseur.code }}</td>
                                                <td class="img_container">
                                                    <img src="{{ fournisseur.photo.url }}" alt="..." class="">
                                                </td>
                                                <td>{{ fournisseur.nom }}</td>
                                                <td>{{ fournisseur.tuteur }}</td>
                                                <td>{{ fournisseur.email }}</td>
                                                <td>{{ fournisseur.telephone }}</td>
                                                <td>{{ fournisseur.adresse }}</td>
                                                <td>{{ fournisseur.ville }}</td>
                                                <td>{{ fournisseur.pays }}</td>
                                                <td>{{ fournisseur.rccm }}</td>
                                                <td>{{ fournisseur.id_nat }}</td>
                                                <td>{{ fournisseur.impot }}</td>
                                                <td>{{ fournisseur.tva }}</td>
                                                <td>
                                                    <a href="{{ fournisseur.get_absolute_url }}" class="btn btn-warning btn-xs">
                                                        <i class="fa fa-eye"></i>
                                                        Details
                                                    </a>
                                                    <a href="{% url 'fournisseur_update' fournisseur.pk %}" class="btn btn-info btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                        Modifier
                                                    </a>
                                                    <a href="{% url 'fournisseur_delete' fournisseur.pk %}" class="btn btn-danger btn-xs">
                                                        <i class="fa fa-trash-alt"></i>
                                                        Supprimer
                                                    </a>
                                                </td>
										    </tr>
									    {% endfor %}
                                    </tbody>
                                </table>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#fournisseurs').addClass('active');
         });
    </script>
{% endblock content %}